
{% extends 'layout.html' %}

{% block content %}
<div class="container">Please Login:</div>
<div class="container">
    <h2><strong>{{message}}</strong></h2>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
      <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input style="padding-left:10px" type="text"  class="form-control-plaintext" id="username1"
             name="username" placeholder="Username">
    </div>
  </div>
  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" style="padding-left:10px" class="form-control"
             id="Password1" name="password" placeholder="Password">
    </div>
  </div>
   <div class="mb-3-row">
       <input type="submit" class ="btn btn-large btn-primary" value="Login">
   </div>
</form>
</div>
{% endblock%}