.patient_staff{
 display:flex;
 align-items:center;
 margin-right: 250px;
 margin-top:500px;
 color:red;
}

table,tr,td{
    border:1px solid black;
    padding: 10px;
    border-collapse: separate;
    width:

}
body{
    counter-reset: count-value;
}

tr td:first-child:before{
    counter-increment:count-value;
    content:counter(count-value);

}